{% extends 'base.html' %}

{% block activepay %} class="active" {% endblock %}

{% block content %}

<h1>Spending by payee</h1>

<div class="new-form">
    <form action="/payees" method="post">
        <input type="text" name="name" id="name" placeholder="Name of new payee">
        <button type="submit">Create payee</button>
    </form>
</div>

<table id="table">
    <tr>
        <th>Name</th>
        <th>Transactions</th>
        <th>Total</th>
    </tr>


    {% for payee in payees %}

    <tr>
        <td><a href="/payees/{{payee.id}}/edit" class="rowlink">{{payee.name}}</a></td>
        <td>{{payee.number_of_transactions}}</td>
        <td>£{{payee.amount_of_transactions}}</td>
    </tr>

    {% endfor %}
</table>

{% endblock %}