<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/bf585851ee.js" crossorigin="anonymous"></script>
    <title>Marko</title>
</head>

<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <img src="https://images2.imgbox.com/39/db/zfJvYLQA_o.jpeg" alt="profile photo">
                <h3>Theodore Templeton</h3>
                <p>CEO of Baby Corps</p>
            </div>
            <nav>
                <ul>
                    <li><a {% block activedash %} {% endblock %} href="/transactions">Dashboard</a></li>
                    <li><a {% block activecat %} {% endblock %}href="/categories">Categories</a> </li>
                    <li><a {% block activepay %} {% endblock %}href="/payees">Payees</a></li>
                    <li><a {% block activetrans %} {% endblock %}href="/transactions/new">Add expense</a></li>
                    <li><a {% block activelimit %} {% endblock %}href="/users">Set limit</a></li>
                </ul>
            </nav>
            <img src="https://images2.imgbox.com/72/a8/epymwR98_o.png" alt="logo" width="225px" id="logo">
        </div>

    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>

</html>