<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/bf585851ee.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% block JS %} {% endblock %}
    <title>Marko</title>
</head>

<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <img src="https://images2.imgbox.com/39/db/zfJvYLQA_o.jpeg" alt="profile photo">
                <h3>Theodore Templeton</h3>
                <p>CEO of Baby Corps</p>
            </div>
            <nav>
                <ul>
                    <li><a {% block activedash %} {% endblock %} href="/transactions"><i
                                class="fa-solid fa-gauge-high sideicon"></i>Dashboard</a></li>
                    <li><a {% block activecat %} {% endblock %}href="/categories"><i
                                class="fa-solid fa-cubes-stacked sideicon"></i>Categories</a> </li>
                    <li><a {% block activepay %} {% endblock %}href="/payees"><i
                                class="fa-solid fa-money-bill-1-wave sideicon"></i>Payees</a></li>
                    <li><a {% block activetrans %} {% endblock %}href="/transactions/new"><i
                                class="fa-solid fa-circle-plus sideicon"></i>Add expense</a></li>
                    <li><a {% block activelimit %} {% endblock %}href="/users"><i
                                class="fa-solid fa-ban sideicon"></i>Set limit</a></li>
                </ul>
            </nav>
            <img src="https://images2.imgbox.com/72/a8/epymwR98_o.png" alt="logo" width="225px" id="logo">
        </div>

    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>

</html>