<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Marko</title>
</head>

<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
            <div class="profile">
                <img src="https://yt3.ggpht.com/gu5tH7vMs0JD26_WHUy_c6InsqG2t8nis9Pj4IX7-DOBamp5HrNyV9ygf3k3G9iU_4fvnJcYxQ=s900-c-k-c0x00ffffff-no-rj"
                    alt="profile photo">
                <h3>Theodore Templeton</h3>
                <p>CEO of Baby Corps</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/transactions">Dashboard</a></li>
                    <li>Categories</li>
                    <li>Payees</li>
                    <li><a href="/transactions/new">Add expense</a></li>
                </ul>
            </nav>

        </div>

    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>


</body>

</html>