{% extends "base.html" %}

{% block activetrans %} class="active" {% endblock %}

{% block content %}

<h1>New expense</h1>

<div class="new-form">
    <form action="/transactions" method="post">

        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="Lunch with client" required autofocus>

        <label for="amount">Amount (GBP)</label>
        <input type="number" id="amount" name="amount" required>

        <label for="payee">Payee</label>
        <select name="payee_id" id="payee">
            {% for payee in payees %}

            <option value="{{payee.id}}"> {{payee.name}} </option>

            {% endfor %}
        </select>

        <label for="date">Date</label>
        <input type="text" id="date" name="date" placeholder="20 May 2022" required>

        <label for="category">Category</label>
        <select name="category_id" id="category">
            {% for category in categories %}

            <option value="{{category.id}}">{{category.name}}</option>

            {% endfor %}
        </select>

        <button class="big-submit" type="submit">Add expense</button>

    </form>
</div>
{% endblock %}