{% extends 'base.html' %}

{% block content %}

<div class="container">
    <img src="https://merriam-webster.com/assets/mw/images/article/art-wap-article-main/meme-boy-gets-paid-4140-196a182847d3123a0e377b1059e07ceb@1x.jpg"
        alt="boy gets paid" style="width:100%">
    <div class="card">
        <h2>{{transaction.description}}</h2>

        <p class="amount"><span class="heading">amount</span> £{{transaction.amount}}</p>

        <p><span class="heading">date</span> {{transaction.date}}</p>

        <p> <span class="heading">payee</span>{{transaction.payee.name}}</p>

        <p> <span class="heading">category</span> {{transaction.category.name}}</p>
        <p><a href="/transactions/{{transaction.id}}/edit">Edit</a></p>
        <form action="/transactions/{{transaction.id}}/delete" method="POST"><button>Delete</button></form>
    </div>
</div>


{% endblock %}