{% extends 'base.html' %}



{% block activedash %}

class="active"

{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<section class="buttons">
    <a class="add-expense" href="/transactions/new">

        <p>Add expense</p>

        <i class="fa-solid fa-coins coin"></i>

    </a>

    <a href="/users" class="limit">

        <p class="total">Total</p>

        <p class="figure">£{{total}}</p>

        {% if total > limit %}

        <p class="warning-p">You are over the limit</p>

        <i class="fa-solid fa-circle-exclamation fa-beat" style="color: #e47260"></i>

        {% else %}

        <i class="fa-solid fa-circle-check icon"></i>

        {% endif %}
    </a>
</section>

<h2>Recent expenses</h2>

<table id="table">
    <tr>
        <th>Info</th>
        <th>Payee</th>
        <th>Category</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>


    {% for transaction in transactions %}

    <tr>
        <td><a href="/transactions/{{transaction.id}}" class="rowlink">{{transaction.description}}</a></td>
        <td>{{transaction.payee.name}}</td>
        <td>{{transaction.category.name}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.amount}}</td>
    </tr>

    {% endfor %}
</table>
{% endblock %}